body{
    margin: 0;
}

#containerHome{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 15% auto;
    grid-template-areas: 
    'he he he he he'   /* 1 */
    'm m m m as'    /* 2 */
    'm m m m as'    /* 3 */
    'm m m m as'    /* 4 */
    'm m m m as'    /* 5 */
    'm m m m as'    /* 6 */
    'm m m m as'    /* 7 */
    ;
}

#containerHome header{
    grid-area: he;
    background-color: aquamarine; /* inte permanent */
}
#containerHome main{
    grid-area: m;
    background-color: sandybrown; /* inte permanent */
}
#containerHome aside{
    grid-area: he;
    background-color: hotpink; /* inte permanent */
}

