body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 15% auto;
    grid-template-areas: 
    'he he he he he'   /* 1 */
    'm m m m as'    /* 2 */
    'm m m m as'    /* 3 */
    'm m m m as'    /* 4 */
    'm m m m as'    /* 5 */
    'm m m m as'    /* 6 */
    'm m m m as'    /* 7 */
    ;
}

header{
    grid-area: he;
    background-color: aquamarine; /* inte permanent */
    display: flex;
    justify-content: center;
    align-items: center;
}
#Home main{
    grid-area: m;
    background-color: sandybrown; /* inte permanent */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto 15% 10% 10%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'slu slu slu slu aru sru sru'
    'slu slu slu slu aru sru sru'
    'sml sml sml sml sml ard ard'
    'sdl sdl sdl sdl sdl ard ard'
    ;
}
    #Home section.uppleft{
        grid-area: slu;
        background-color: indigo; /* inte permanent */
    }
    #Home section.uppright{
        grid-area: sru;
        background-color: ivory; /* inte permanent */
    }
    #Home section.middelleft{
        grid-area: sml;
        background-color: wheat; /* inte permanent */
        display: grid;
        grid-template-areas: 
        'arl arr'
        ;
    }
        #Home article.left{
            grid-area: arl;
            background-color: teal;
        }
        #Home article.right{
            grid-area: arr;
            background-color: red;
        }

    #Home section.dowenleft{
        grid-area: sdl;
        background-color: greenyellow; /* inte permanent */
    }
    #Home article.upp{
        grid-area: aru;
        background-color: gold; /* inte permanent */
    }
    #Home article.dowen{
        grid-area: ard;
        background-color: skyblue; /* inte permanent */
    }
aside{
    grid-area: as;          /*fixed syntax error*/
    background-color: hotpink; /* inte permanent */
}
#meny main{
    grid-area: m;
    background-color: sandybrown; 
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'alu alu aru aru'
    'ald ald ard ard'
    ;
} 
    #meny article.leftupp{
        grid-area: alu;
        background-color: red;
        display: grid;
        grid-template-areas: 
        'fig1u fig2u fig3u'
        'fig1d fig2d fig3d'
        ;
    }
        figure.1u{
            grid-area:fig1u;
        }
        figure.2u{
            grid-area:fig2u;
        }
        figure.3u{
            grid-area:fig3u;
        }
        figure.1d{
            grid-area:fig1d;
        }
        figure.2d{
            grid-area:fig2d;
        }
        figure.3d{
            grid-area:fig3d;
        }
    #meny article.leftdowen{
        grid-area: ald;
        background-color: red;
        grid-template-areas: 
        'fig1u fig2u fig3u'
        'fig1d fig2d fig3d'
    }
    #meny article.rightupp{
        grid-area: aru;
        background-color: red;
        grid-template-areas: 
        'fig1u fig2u fig3u'
        'fig1d fig2d fig3d'
    }
    #meny article.rightdowen{
        grid-area: ard;
        background-color: red;
        grid-template-areas: 
        'fig1u fig2u fig3u'
        'fig1d fig2d fig3d'
    }
    


img{
    height: 15vh;
}

h1{
    font-size: 15vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

