body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    text-align: center;
    color: white;
}

#container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 16% repeat(6,14%) auto;
    grid-template-areas: 
    'he he he he he'   /* 1 */
    'm m m m as'    /* 2 */
    'm m m m as'    /* 3 */
    'm m m m as'    /* 4 */
    'm m m m as'    /* 5 */
    'm m m m as'    /* 6 */
    'm m m m as'    /* 7 */
    ;
}

header{
    grid-area: he;
    background-color: #1FCACC; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#Home main{
    grid-area: m;
    
    display: grid;
    grid-gap: 1%;
    grid-template-columns: auto auto auto auto 15% 10% 10%;
    grid-template-rows: 17% 17% 30% 32%;
    grid-template-areas: 
    'slu slu slu slu aru sru sru'
    'slu slu slu slu aru sru sru'
    'sml sml sml sml sml ard ard'
    'sdl sdl sdl sdl sdl ard ard'
    ;
}
    #Home section.uppleft{
        grid-area: slu;
        background-color: #39CC1F; /* inte permanent */
        position: relative;
    }
    #Home section.uppright{
        grid-area: sru;
        background-color: #39CC1F; /* inte permanent */
    }
    #Home section.middelleft{
        grid-area: sml;

        display: grid;
        grid-template-columns: 50%50%;
        grid-template-areas: 
        'arl arr'
        ;
    }
        #Home article.left{
            grid-area: arl;
            background-color: #CC2314;
        }
        #Home article.right{
            grid-area: arr;
            background-color: teal;
        }

    #Home section.dowenleft{
        grid-area: sdl;
        position: relative;
    }
    #Home section img{
        width: 100%;
        height: 100%;
        transition: .5s ease;
    }
    #Home section a{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 0%;
        left: 0%;
        padding: 28% 50% 0;
        background-color:black;
    }
    #Home section:hover a{
        opacity: 0.2;
        transform: (-50%, -50%);
        -ms-transform: (-50%, -50%);
    }     

    #Home article.upp{
        grid-area: aru;
        background-color: #CC2314;
        overflow: scroll;
    }
    #Home article.dowen{
        grid-area: ard;
        background-color: teal;
    }
aside{
    grid-area: as;       
}
#meny main{
    grid-area: m;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:    
    'alu alu aru aru'
    'ald ald ard ard'
    ;
} 
    #meny article.leftupp{
        grid-area: alu;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50% 50%;
    }

    #meny article.rightupp{
        grid-area: aru;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50% 50%;
    }

    #meny article.leftdowen{
        grid-area: ald;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50% 50%;
    }
       
    #meny article.rightdowen{
        grid-area: ard;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50% 50%;
    }

#boka main{
    grid-area: m;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-areas: 
    's1 s2 s3 s4'
    ;
}
    #boka section.furst{
        grid-area: s1;
        background-color: teal;
    }
    #boka section.secund{
        grid-area: s2;
        background-color:#CC2314;
    }
    #boka section.thered{
        grid-area: s3;
        background-color:  teal;
    }
    #boka section.forthe{
        grid-area: s4;
        background-color: #CC2314;
    }

img.loga{
    height: 15vh;
}
img.mat{
   width: 100%;
   height: 50%;
}
img.add{
    height: 100%;
    width: 100%;
}
main img{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    font-size: 12vh;
    text-transform: uppercase;
    font-family: Lucida Calligraphy, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

p{
    margin: 2px;
    padding: 0;

}
h3{
    padding: 0;
    margin: 0;
}
#noscroll{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#noscroll::-webkit-scrollbar{
    display: none;
}